body{
    background: #0e0e0e;
    font-family: "Helvetica Neue", Helvetica , Arial, sans-serif;
    color: #ffffff;
}
.container{
    width: 76%;
    margin: 0 auto;
}
.score-div{
    padding: 15px 0;
    font-weight: 600;
    font-size: 1em;
}
#score{
    border: none;
    background-color:#0e0e0e;
    color: #ffffff;
    font-weight: 600;
    font-size: 1em;
}
.level{
    float: right;
}
.canvas-div{

}

canvas{
    margin:0 auto;
    display: block;
    cursor: pointer;
    border: 6px groove #9A9DB7;
    background: #7d7e7d; /* Old browsers */
    background: -moz-linear-gradient(top,  #7d7e7d 0%, #0e0e0e 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#0e0e0e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #7d7e7d 0%,#0e0e0e 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
    /*border: 7px solid orange;*/
}
.button-div{
    text-align: center;
    padding: 20px;
    font-size: 20px;
    font-weight: 500;
}
.play-btn{
    border-radius: 2px;
}
.play-btn:after{
    content: '\25B6';
    font-size: 17px;
    font-weight: 500;

}
.pause-btn{
    border-radius: 2px;
}
.pause-btn:after{
    content: '\268C';
    font-size: 17px;
    font-weight: 500;
    display: inline-block;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}